.container {
    width: 80%;
    display: block;
    margin: auto;
}

.container > table {
    text-align: left;
}

.container > table > tbody > tr > td {
    max-width: 200px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 6px;
}

.chartContainer {
    display:  flex;
    max-height: 250px;
    width: 80%;
    justify-content:space-between;
    gap: 25px;
    margin: auto;
    margin-bottom: 50px;
}