.container {
  display: flex;
  gap: 20px;
  height: 60px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text > a {
    font-weight: bold;
}

.location {
  text-align: right;
  margin-left: auto;
}