.container {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

.tab {
  display: flex;
  gap: 6px;
}

.tab > a {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
}

.active {
  font-weight: 700;
  color: rgba(0, 0, 0, 1) !important;
}
