.container {
  width: 80%;
  margin: auto;
  max-width: 1000px;

  /* Need to fix this height part */
  height: 80vh;
  overflow-y: scroll;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

.gymListContainer {
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
  gap: 6px;
  /* color: white; */
}

.tab > a {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  color: white;
}

.active {
  font-weight: 700;
  color: white;
}
