.container {
    display: flex;
    flex-direction: column;
    border: 1px solid gold;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* justify-content: center; */
    border: 1px solid red;
    margin: 0px auto;
}