.container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  gap: 12px;
  width: 100%;
  align-items: center;
  height: 80vh;
  overflow-y: scroll;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}
