.container {
  width: 80%;
  margin: auto;
  display: block;
}

.container > p {
  text-align: center;
  color: hsl(240, 1%, 31%);
}

.container > a {
  display: block;
  text-align: center;
  color: hsl(205, 27%, 57%);
}

.container > a:hover {
  color: hsl(205, 27%, 80%);
}

.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bgImgCard {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/22/GABRIEL_VELLA_vs_ROMINHO_51.jpg");
  background-size: cover;
  opacity: 0.6;
  width: 175px;
  height: 250px;
  border-radius: 8px;
}

.bgImgCard > div {
  margin: auto auto;
  text-align: center;
  height: 100%;
}

.bgImgCard:hover {
  opacity: 0.8;
  z-index: 3;
}

.bgImgCard:nth-child(1) {
  transform: rotate(-25deg);
}

.bgImgCard:nth-child(2) {
  transform: rotate(-12deg);
}

.bgImgCard:nth-child(3) {
  background-image: url("../public/images/carpe-diem-group.jpg");
  background-position-x: center;
  transform: rotate(12deg);
}

.bgImgCard:nth-child(4) {
  transform: rotate(25deg);
}

.hoverTxt {
  position: absolute;
  top: 20%;
  text-align: center;
  color: white;
  font-size: 24px;
  z-index: 5;
}
